{% extends '::base.html.twig' %}

{% block body %}
    <h1>{{ book.name }}</h1>
    <ul id="metadata">
        {% for meta in book.metadata %}
            <li>{{ meta.name }} : {{ meta.value }}</li>
        {% endfor %}
    </ul>
    {% if book.rootBlock is not empty %}
        <h3>Elements :</h3>
        {% for chapter in book.rootBlock.children %}
            <h4>{{ chapter.title.content }}</h4>
            {% for child in chapter.children %}
                <div>{{ child.content }}</div>
            {% endfor %}
        {% endfor %}
    {% else %}
        <p>No root block found</p>
    {% endif %}
{% endblock %}